<div class="hero-main">
    <div class="hero">
        <div class="hero-content">
            <h1>Scale your business in a faster mode</h1>
            <p>Cloud management is how admins have control over everything that operates in a cloud: the users, data, applications
                We care about your business , Cloud Hosting Platform</p>
            <a href="#features" class="cta-button">Explore Features</a>
        </div>
        <div class="hero-image">
            <img src="./assets/img/cloud-anim.gif" alt="hero"/>
        </div>
    </div>
    <div class="divider"></div>
</div>