/* Footer */
footer {
    padding: 30px;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 90%;
}

.footer-content ul {
    list-style-type: none;
}

.footer-content ul li {
    display: inline-block;
    margin: 0 10px;
}

.footer-content ul li a {
    font-size: 1rem;
    transition: color 0.3s ease;
}

.footer-content ul li a:hover {
    color: #FBB13C;
}

.footer-subscription {
    text-align: center;
}

.footer-subscription p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer-subscription form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-subscription input[type="email"] {
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    border-color: #e6e0e0;
    margin-top: 16px;
    margin-right: 6px;
}

.footer-subscription input:focus {
    border-color: #FBB13C;
    border-width: 0.3cap;
}

.footer-subscription button {
    padding: 10px 20px;
    background-color: #FBB13C;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.footer-subscription button:hover {
    background-color: #FFB703;
}

@media screen and (max-width: 768px) {
  .footer-content {
    display: block;
  }

}
   